.App {
  background-image: url(./assets/bg.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-space-margin > * {
  margin-bottom: 1rem !important;
}

.vertical-space-margin > *:first-child {
  margin-top: 0 !important;
}

.vertical-space-margin > *:last-child {
  margin-bottom: 0 !important;
}

.horizontal-space-margin > * {
  margin-right: 1rem !important;
}

.horizontal-space-margin > *:first-child {
  margin-left: 0 !important;
}

.horizontal-space-margin > *:last-child {
  margin-right: 0 !important;
}

// undo no side padding for vertical segment
.ui.vertical.segment {
  padding-left: 1em;
  padding-right: 1em;
}
